{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                My Profile
            </div>
            <div class="card-body">
                <h4>{{ user.username }}</h4>
                <p><strong>Age:</strong> {{ patient.age }}</p>
                <p><strong>Blood Group:</strong> {{ patient.blood_group }}</p>
                <p><strong>Address:</strong> {{ user.address }}</p>
                <hr>
                <a href="#" class="btn btn-warning w-100 mb-2">Edit Profile</a>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
                <h3>Welcome Back!</h3>
                <p>What would you like to do today?</p>
                <a href="{% url 'doctors' %}" class="btn btn-primary btn-lg"> Book New Appointment</a>
            </div>
        </div>

       <table class="table">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for appt in appointments %}
        <tr>
            <td>Dr. {{ appt.doctor.user.last_name }}</td>
            <td>{{ appt.appointment_date }}</td>
            <td>
                 {% if appt.status == 'confirmed' %}
                    <span class="text-success fw-bold">Confirmed</span>
                            {% if appt.payment_details %}
                                    <span class="badge bg-success">Paid </span>
                            {% else %}
                                    <a href="{% url 'checkout' appt.id %}" class="btn btn-sm btn-warning"> Pay Now</a>
                            {% endif %}
                 {% elif appt.status == 'cancelled' %}
                    <span class="text-danger">Cancelled</span>
                 {% elif appt.status == 'completed' %}
                    <span class="text-primary">completed</span>
                    <a href="{% url 'view_report' appt.id %}" class="btn btn-sm btn-outline-primary"> View Report</a>
                 {% else %}
                    <span class="text-warning">Pending</span>
                 {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="3">No history yet.</td></tr>
        {% endfor %}
    </tbody>
</table>
    </div>
</div>
{% endblock %}